inplace/
compiler/stage1/
compiler/stage2/
rts/dist/build/
libraries/
utils/check-api-annotations/dist-install/
rts/dist/
utils/check-ppr/dist-install/
utils/compare_sizes/dist-install/
utils/deriveConstants/dist/
utils/genapply/dist/
utils/genprimopcode/dist/
utils/ghc-cabal/dist-install/
utils/ghc-cabal/dist/
utils/ghc-pkg/dist-install/
utils/ghc-pkg/dist/
utils/ghctags/dist-install/
utils/hp2ps/dist-install/
utils/hp2ps/dist/
utils/hpc/dist-install/
utils/iserv/stage2/
utils/iserv/stage2_dyn/
utils/iserv/stage2_p/
utils/runghc/dist-install/
utils/unlit/dist-install/
utils/unlit/dist/
bootstrapping/
compiler/ghc.cabal.old
driver/split/dist/
ghc/stage1/
ghc/stage2/
includes/dist-derivedconstants/
includes/ghcautoconf.h
includes/ghcplatform.h
includes/ghcversion.h
libffi/build/
libffi/stamp.ffi.static-shared.build
libffi/stamp.ffi.static-shared.configure
libffi/stamp.ffi.static-shared.install
mk/config.mk.old
mk/project.mk.old

